@{
    ViewData["Title"] = "Steroids";
}
<main tabindex="0">
    <div id="scoreDisplay">Score: 0</div>
    <div id="gameArea">
        <div id="titleScreen">
            <div id="titleText"></div>
            <div id="startText">PRESS ANY KEY TO START</div>
        </div>

        <div id="loadingScreen" style="display: none;">Loading...</div>
        <svg id="svgElement" viewBox="0 0 100 100">
            <g id="steroids"></g>
            <g id="projectiles"></g>
            <g id="player"></g>
            <g id="hud"></g>
        </svg>
    </div>
</main>
<script type="module" src="~/js/drawTitle.js" asp-append-version="true"></script>
<script type="module" src="~/js/game.js" asp-append-version="true"></script>
